<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="baseJs::header"  ></head>
<style>
    html {
        height: 100%;
    //
    让html的高度等于屏幕
    }

    body {
        height: 100%;
        margin: 0;
    }
</style>
<body id="thisbody" >
<div class="content-header" id="header">
    <div class="layui-btn-group">
        <a class="layui-btn" id="add" onclick="addPage()"><i class="layui-icon">&#xe608;</i> 添加</a>
        <a class="layui-btn" id="del" onclick="del()" ><i class="layui-icon">&#xe640;</i> 删除</a>
    </div>
    <div class="layui-inline" style="float:right;">
        <div class="layui-inline">
            <input type="text" id="searchValue"  class="layui-input layui-input-search" placeholder="学校名" />
        </div>
        <div class="layui-inline">
            <a class="layui-btn" id="query" onclick="reload()"><i class="layui-icon">&#xe615;</i> 查询</a>
        </div>
    </div>
</div>

<hr />
<div id="table" >
</div>
</body>
<script>
    var h=$("#thisbody").height()-$("#header").height()-25;
    var w=($("#table").width()-150-50-10)/6;
    var table;
    layui.use('table', function(){
        table= layui.table;
        layui.table.render({
            elem: '#table',
            url: path + 'school/getSchool',
            height: h,
        //     private String schoolId;
        //
        // private String schoolName;
        //
        // private String address;
        //
        // private String province;
        //
        // private String city;
        //
        // private String county;
        //
        // private String contacts;
        //
        // private String phone;
        //
        // private String tel;
        //
        // private String qq;
        //
        // private String email;
        //
        // private String website;
        //
        // private String notes;
            cols: [[ //标题栏
                {checkbox: true, LAY_CHECKED: false,width: '3%',align:'center'},
                {field: 'schoolName', title: '学校', width: '20%',align:'center'},
                {field: 'provinceName', title: '省份', width: '5%',align:'center'},
                {field: 'cityName', title: '城市', width: '5%',align:'center'},
                {field: 'countyName', title: '区/县', width: '5%',align:'center'},
                {field: 'contacts', title: '联系人', width: '10%',align:'center'},
                {field: 'phone', title: '手机', width: '15%',align:'center'},
                {field: 'tel', title: '座机', width: '20%',align:'center'},
                {fixed: 'right', title: '操作', width:'14%', align:'center',templet: function(d){
                        return '<a class="layui-btn layui-btn-mini"  onclick="edit(\''+d.schoolId+'\')" >编辑</a>';
                    }}
            ]],
            id:'table',
            skin: 'row', //表格风格
            even: true,
            page: true, //是否显示分页
            limits: [15,20,50],
            limit: 15, //每页默认显示的数量
            loading: true, //请求数据时，是否显示loading
            done: function(res, curr, count){
            }
        });
        $("#searchValue").keydown(function(e){
            var keyCode =window.event? e.keyCode:e.which;
            if(keyCode== 13){
                reload();
            }
        })
    });

    function addPage(){
        layer.open({
            type: 2, //此处以iframe举例
            title: '菜单新增',
            area: ['800px', '100%'],
            content: [path + 'school/schoolAddPage', 'no'],
            btn: ['保存', '关闭'],
            yes: function(index, layero){
                var iframe = $(layero).find("iframe")[0].contentWindow;
                if(!iframe.yz())return;
                if(iframe.save()){
                    layer.close(index);
                    sucessTip("新增成功");
                    reload();
                }else
                    failTip("新增失败");
            },
            btn2: function(index){
                layer.close(index);
            }
        });
    }

    function edit(id){
        layer.open({
            type: 2, //此处以iframe举例
            title: '菜单编辑',
            area: ['800px', '100%'],
            content: [path + 'school/schoolAddPage?schoolId='+id, 'no'],
            btn: ['保存', '关闭'],
            yes: function(index, layero){
                var iframe = $(layero).find("iframe")[0].contentWindow;
                if(!iframe.yz())return;
                if(iframe.save()){
                    layer.close(index);
                    sucessTip("编辑成功");
                    reload();
                }else
                    failTip("编辑失败");
            },
            btn2: function(index){
                layer.close(index);
            }
        });
    }

    function del() {
        var checkStatus = table.checkStatus('table'),data = checkStatus.data;
        var ids="";
        for(var i=0;i /*<![CDATA[*/ < /*]]>*/ data.length;i++){
            ids +=  data[i].schoolId + ",";
        };
        layer.confirm('确认删除?', { icon: 3, title: '提示' }, function (index) {
            layer.close(index);
            console.log(ids);
            $.post(path+'school/del',{ids:ids},function(results){
                sucessTip('删除'+results+'个学校');
                table.reload("table");
            });

        });

    }

    function reload(){
        table.reload("table", { //此处是上文提到的 初始化标识id
            where: {
                schoolName: $("#searchValue").val()
            }
        });
    }
</script>
</html>
